handson3option.Cloudant/sample-flow-cloudant-query.json
[{"id":"1820ae2b.5c9832","type":"function","z":"a99621e2.88e8f","name":"cloudant select文","func":"// 宛先URL\nmsg.url = \"https://774b8797-bf14-4cd3-a1cc-f74918052f80-bluemix:38085ca966cebc4496db8f68ca16bbd5708ad055d2051bcdd5ddb9f15fa8f020@774b8797-bf14-4cd3-a1cc-f74918052f80-bluemix.cloudant.com/handsondb1/_find\";\n\n// HTTPリクエストのメソッド\nmsg.method = \"POST\";\n\n// リクエスト・ヘッダーの指定\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Accept\": \"application/json\"\n};\n\n// リクエスト・ボディーを指定\nmsg.payload = {\n    \"selector\":{\n        \"cost\": { \"$gt\": Number(msg.req.query.qa) }\n    },\n    \"fields\":[\"_id\", \"type\", \"cost\"],\n    \"sort\":[{\"cost\":\"desc\"}],\n    \"limit\": 200\n};\n\n// 次のhttp request nodeに返す\nreturn msg;","outputs":1,"noerr":0,"x":247,"y":198,"wires":[["326da6c2.987b72","69b8c989.7d9f28"]]},{"id":"241abe5a.6387aa","type":"http in","z":"a99621e2.88e8f","name":"","url":"/query","method":"get","swaggerDoc":"","x":124,"y":129,"wires":[["1820ae2b.5c9832","f8d0909.b279e7"]]},{"id":"326da6c2.987b72","type":"debug","z":"a99621e2.88e8f","name":"","active":true,"console":"false","complete":"true","x":390,"y":284.5,"wires":[]},{"id":"41e1777b.e26928","type":"cloudant in","z":"a99621e2.88e8f","name":"get cost data from Cloudant","cloudant":"","database":"handsondb1","service":"IoT-Foundation-OpenWhisk-cloudantNoSQLDB","search":"_idx_","design":"index","index":"indexBycost","x":167,"y":410,"wires":[[]]},{"id":"2e836ac1.b20696","type":"http response","z":"a99621e2.88e8f","name":"","x":753,"y":43.5,"wires":[]},{"id":"520bd9c3.1f2868","type":"debug","z":"a99621e2.88e8f","name":"","active":false,"console":"false","complete":"true","x":748,"y":265.5,"wires":[]},{"id":"69b8c989.7d9f28","type":"http request","z":"a99621e2.88e8f","name":"","method":"use","ret":"txt","url":"","tls":"","x":477.5,"y":209.75,"wires":[["2e836ac1.b20696","520bd9c3.1f2868"]]},{"id":"f8d0909.b279e7","type":"debug","z":"a99621e2.88e8f","name":"","active":false,"console":"false","complete":"true","x":278.5,"y":79.5,"wires":[]},{"id":"ae9186d.f826278","type":"comment","z":"a99621e2.88e8f","name":"Cloudant Queryとしては不要","info":"","x":167.5,"y":368.75,"wires":[]}]
